@model Project_storage.Web.Areas.Manage.Models.Products.IndexVM

@{
    ViewData["Title"] = "Producten";
}

<h2>Basis producten</h2>

<form asp-action="saveproducts" method="post">
    <div class="row">
        @for (int i = 0; i < Model.Products.Count(); i++)
        {
            <div class="row">
                @Html.EditorFor(x => x.Products[i])
            </div>
            <hr />
        }
    </div>
    <button type="submit" class="btn btn-success pull-right">Save</button>
</form>

